@import "~/src/scss/index.scss";

.container {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;

  > a {
    > img {
      height: 60px;
    }

    > i {
      font-size: 26px;
      color: $primary-hover;
      margin: 0;
    }
  }
}

.blockLeft {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 700px) {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
}

.blockRight {
  background-image: url("/images/sign-wallpaper.jpg");
  background-position: left;
  background-size: cover;
  height: 100%;
  width: 50%;

  @media screen and (max-width: 700px) {
    display: none;
    width: 0%;
  }
}